:root {
  --base-lightest: white;
  --base-lighter: #d8dbde;
  --base-light: #b6b9bc;
  --base-dark: #5c5e5f;
  --base-darker: #3b3c3d;
  --base-darkest: #1b1b1c;
  --primary-lightest: #f198ff;
  --primary-lighter: #eb67ff;
  --primary-light: #e538ff;
  --primary-dark: #9328a4;
  --primary-darker: #821193;
  --primary-darkest: #6a007b;
  --secondary-lightest: #ffedaa;
  --secondary-lighter: #fbd754;
  --secondary-light: #ffc800;
  --secondary-dark: #bc9400;
  --secondary-darker: #8e6f00;
  --secondary-darkest: #755c00;
  --margin: 0.5vmin;
  --margin-large: 1vmin;
}

@keyframes disappear {
  from {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}

@keyframes highlight {
  from {
    transform: scale3d(1, 1, 1);
    opacity: 0;
  }

  1% {
    opacity: 1;
  }

  to {
    transform: scale3d(2, 2, 2);
    opacity: 0;
  }
}

html {
  font-size: 24px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--base-lightest);
  background: var(--base-darkest);
}
body {
  overflow: hidden;
}

a {
  color: var(--primary-lighter);
  font-weight: bold;
}
a:focus,
button:focus {
  outline-style: solid;
  outline: var(--secondary-light);
  outline-width: 3px;
}

button,
a.button {
  background: var(--primary-light);
  color: var(--base-darkest);
  border-radius: 6px;
  border: 3px solid var(--primary-light);
  padding: 3px 6px;
  margin: 0;
  line-height: 1;
  display: block;
  box-sizing: border-box;
  cursor: pointer;
}
button.selected,
a.button.selected {
  background: var(--base-darker);
  color: var(--primary-lighter);
  border: 3px solid var(--primary-light);
}
h1 {
  margin: 0;
  line-height: 1;
  font-size: 1rem;
  font-weight: normal;
}
h1 a {
  text-decoration: none;
  font-weight: normal;
}
p {
  line-height: 1.8;
}

.app {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  align-items: stretch;
  gap: var(--margin-large);
}
.app ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.app ul li {
  margin: 0;
  padding: 0;
}
@media (orientation: portrait) {
  .app {
    flex-direction: column;
  }
}

.ui-tools {
  flex-basis: 12.5vmin;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: var(--margin);
  align-items: stretch;
  margin: var(--margin) 0;
}
@media (orientation: portrait) {
  .ui-tools {
    flex-direction: row;
  }
}
button.tool-button {
  flex-grow: 1;
  position: relative;
}
.tool-button .letter {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  line-height: 11.5vmin;
  position: absolute;
  font-size: 10vmin;
  font-weight: bold;
}
.tool-button .cursor {
  position: absolute;
  width: 20%;
  height: 20%;
  border-radius: 50%;
  top: 68%;
  left: 59%;
  background: var(--secondary-light);
  opacity: 0.8;
}

.ui-main {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: var(--margin-large);
}

.ui-main-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: var(--margin) var(--margin-large) 0;
}

.ui-text-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  position: relative;
}
.text {
  top: -0.5vmin;
  right: var(--margin);
  bottom: 0;
  left: 0;
  position: absolute;
  /* background: rgba(0, 0, 0, 0.667);
  border: 3px solid rgba(255, 255, 255, 0.1667);
  border-radius: 12px; */
  overflow: hidden;
  touch-action: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: move;
}
button.syll {
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 2px dotted transparent;
  cursor: move;
}
button.syll.wrapper {
  display: none;
}
button.syll.wrapper.visible {
  display: block;
}
.app[data-tool='pitch'] button.syll,
.app[data-tool='pitch'] .text-wrapper,
.app[data-tool='trim'] button.syll,
.app[data-tool='trim'] .text-wrapper {
  cursor: ew-resize;
}
.app[data-tool='bass'] button.syll,
.app[data-tool='bass'] .text-wrapper,
.app[data-tool='loudness'] button.syll,
.app[data-tool='loudness'] .text-wrapper {
  cursor: ns-resize;
}
.app[data-tool='delete'] button.syll,
.app[data-tool='delete'] .text-wrapper {
  cursor: pointer;
}
.syll.animating {
  transition:
    top 0.5s ease-in-out,
    left 0.5s ease-in-out;
}
.syll.flip-x {
  transform: scale3d(-1, 1, 1);
}
.text .syll,
.syll .char {
  position: absolute;
  height: 100%;
  top: 0;
}
.syll .char .char-image,
.syll .char .char-ghost,
.syll .char svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.syll .char path {
  fill: var(--base-lightest);
}
.syll.active .char path,
.syll:hover .char path,
.syll.hover .char path,
.syll:focus-visible .char path {
  fill: var(--secondary-light);
}
.syll.active,
.syll:focus-visible {
  outline: none;
  border-color: var(--secondary-light);
}
.syll .char .char-ghost {
  opacity: 0;
  pointer-events: none;
}
.syll.playing .char .char-ghost {
  animation: highlight 0.3s ease-in-out;
  animation-fill-mode: none;
}
.syll .trim-line {
  display: none;
  content: ' ';
  position: absolute;
  width: 0;
  border-left: 3px dotted var(--base-lightest);
  height: 100%;
  top: 0;
  right: 0;
}
.syll.active .trim-line {
  border-color: var(--primary-lighter);
}
.syll.trimmed .trim-line {
  display: block;
}
.syll.disappear {
  animation: disappear 0.5s;
  animation-fill-mode: both;
}

.ui-controls {
  display: flex;
  align-items: flex-end;
  gap: var(--margin);
  margin: 0 var(--margin) var(--margin);
}
button.control-button {
  flex-basis: 8vmin;
  flex-grow: 0;
  flex-shrink: 0;
  height: 8vmin;
}
button.play-button {
  flex-basis: 12vmin;
  height: 12vmin;
  background: var(--secondary-light);
  border-color: var(--secondary-light);
}
.source-form {
  flex-grow: 1;
  display: flex;
  padding: 6px;
  gap: 6px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.source-label,
.source-description {
  white-space: nowrap;
}
@media (max-width: 660px) {
  .source-form {
    font-size: 0.9rem;
  }
}
@media (max-width: 540px) {
  .source-form {
    font-size: 0.8rem;
  }
  .source-label,
  .source-description {
    white-space: normal;
    text-align: center;
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
